.header {
  height: 70px;
  width: 100%;
  // max-width: 1024px;
  // align-items: center;
  // text-align: center;
  // margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px 5px 15px;
      border-bottom: 1px transparent solid;
      transition: border-color 0.5s;
      &:last-child {
        margin-left: 10px;
      }
      &:hover {
        border-color: gray;
      }
    }
  }
}
