.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    & .background-image {
      transform: scale(1.1);
      // transition: transform 7s cubic-bezier(0.2, 1, 0.3, 1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
      // added from here
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        display: block;
        background: #3c4142;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(2) translateX(75%) translateY(-75%) rotate(-28deg);
        transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
      }
      // Bring in main color overlay
      &:hover:after {
        transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
      }
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transition: color 500ms;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      // color: #000;
      z-index: 1;
    }

    &:hover {
      color: #13bbaf;
      cursor: pointer;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      z-index: 1;
    }
  }
}
